* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #141b1c;
}
.price-card {
  width: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  margin-right: 18px;
}
.price-card:last-child {
  margin-right: 0;
}
.price-card__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  padding-top: 33px;
  margin: 0;
}
.price-card__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.basic-price-card__rectangle {
  display: flex;
  height: 105px;
  width: 380px;
  background-color: #5bb189;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 33px;
}
.business-price-card__rectangle {
  display: flex;
  height: 105px;
  width: 380px;
  background-color: #3a6ba5;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 33px;
}
.webshop-price-card__rectangle {
  display: flex;
  height: 105px;
  width: 380px;
  background-color: #ec632a;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 33px;
}
.price-card__description {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 40px 26px 40px 26px;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__item {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 16px 21px 16px 59px;
  padding-left: 22px;
  padding-right: 22px;
}
.list__image {
  width: 15px;
  height: 13px;
  margin-right: 22px;
}
.list__item:nth-child(odd) {
  background-color: #2a3438;
}
.basic-price-card__order-btn {
  background-color: #5bb189;
  border-radius: 20px;
  height: 40px;
  width: 155px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 26px 12px 27px;
  margin-top: 40px;
  border: none;
  display: flex;
  justify-content: center;
  margin-left: 112px;
}
.business-price-card__order-btn {
  background-color: #3a6ba5;
  border-radius: 20px;
  height: 40px;
  width: 155px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 26px 12px 27px;
  margin-top: 40px;
  border: none;
  display: flex;
  justify-content: center;
  margin-left: 112px;
}
.webshop-price-card__order-btn {
  background-color: #ec632a;
  border-radius: 20px;
  height: 40px;
  width: 155px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 26px 12px 27px;
  margin-top: 40px;
  border: none;
  display: flex;
  justify-content: center;
  margin-left: 112px;
}
.price-tables {
  display: flex;
  margin: 115px 132px 115px 132px;
}
